.brand {
  display: inline-block;
}

.brand-logo {
  background: {
    position: top left;
    repeat: no-repeat;
    size: contain;
  }
  display: inline-block;
  vertical-align: middle;
}

.brand-name {
  display: inline-block;
  font: {
    family: 'Lobster Two', sans-serif;
    style: italic;
    weight: bold;
  }
  vertical-align: middle;

  .kerning-middle {
    margin-left: -.09em;
  }

  .kerning-end {
    margin-left: -.2em;
  }
}

@include brand;
@include brand('home', $line-height-computed * 5, (color: 'gold', bg: 'transparent'), (color: $gold));
